{% extends 'base.html' %}

{% block pageheading %}
{% endblock %}

{% block main %}
<div class="table-container">
  <table class="cart-table">
    <tr>
      <th class="item-heading">Item</th>
      <th class="item-heading">Quantity</th>
      <th class="item-heading">Each</th>
      <th class="item-heading">Total</th>
    </tr>
    {% for product in products %}
    <tr>
      <th>{{ product[2] }}</th>
      <td class="number">{{ product[1] }}</td>
      <td class="number">${{ product[3] }}</td>
      <td class="number">${{ product[4] }}</td>
    </tr>
    {% endfor %}
    <tr>
      <th colspan="4" class="number">Total ${{ total }}</th>
    </tr>
  </table>

  <p><a href="/cancel_order">Cancel Order</a></p>

  <form class="myform" method="POST">
    <div class="form-group">
      <div class="form-label"><label for="name">Name for order:</label></div>
      <div class="form-element">
        <input type="text" id="name" name="name" required>
      </div>
      <div class="form-group">
        <div class="form-label"></div>
        <div class="form-element"><input type="submit" value="Place Order"></div>
      </div>
    </div>
  </form>

  {% if message %}
  <div class="alert-wrapper">
    <input type="checkbox" id="alert-toggle" class="alert-toggle" checked>
    <div class="alert">
      <label for="alert-toggle" class="closebtn">&times;</label>
      <p>{{ message }}</p>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
