{% extends 'base.html' %}

{% block pageheading %}
! Contact Us !
{% endblock %}

{% block main %}
<div class="image-cards-wrapper">
  <!-- Card 1: Store Info -->
  <div class="image-card">
    <img src="/static/images/shop.jpg" class="shop-photo" alt="Front of store in city with plants">
    <h2>Come and see us</h2>
    <p><strong>Store Location:</strong> 123 Goa house Lane, Greenville</p>
    <p><strong>Open Hours:</strong> Mon–Sat, 9am–5pm</p>
  </div>

  <!-- Card 2: Owner Info -->
  <div class="image-card">
    <img src="/static/images/photome.jpeg" class="owner-photo" alt="Owner Ciara Plant profile photo">
    <h2>Meet Our Owner</h2>
    <p><strong>Name:</strong> Nandini Singh </p>
    <p><strong>Email:</strong> nandini@gather&co.com</p>
    <p><strong>Phone:</strong> (021) 486-7390</p>
  </div>
</div>
{% endblock %}
